<h1> All Courses </h1>

<% @courses.each do |r| %>
	<h1><%= link_to r.name, course_path(r.id) %></h1>
	<br />
<% end %>

  <%= button_to "Didn't see your course? Add it now!", pageToNewCourse_path, :class => "button medium", :method => :get %>

  <%= button_to "Sign in", new_user_session_path, :class => "button medium", :method => :get %>

  <%= button_to "Sign out", destroy_user_session_path, :class => "button medium", :method => :delete %> 